<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AccountId" value="UA-45082108-1" />
        <add key="PreScript" value="&lt;!-- Analytics Begin --&gt;" />
        <add key="PostScript" value="&lt;!-- Analytics End --&gt;" />
        <add key="NoAsync" value="" />
        <add key="ExcludedExtensions" value=".axd,.xml" />
    </appSettings>
    <system.web>
        <httpModules>
            <add name="GoogleAnalyticsModule" type="GoogleAnalyticsModule.GoogleAnalyticsHttpModule, GoogleAnalyticsModule" />
        </httpModules>
    </system.web>
    <!--<system.webServer>
        <modules>
            <add name="GoogleAnalyticsModule" type="GoogleAnalyticsModule.GoogleAnalyticsHttpModule, GoogleAnalyticsModule" />
        </modules>
    </system.webServer>-->
    <system.webServer>
        <handlers>
            <add name="HTML" path="*.html" verb="GET" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
            <add name="HTM" path="*.htm" verb="GET" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
        </handlers>
    </system.webServer>
</configuration>
